@charset "utf-8";

/* CSS Document */

* {
    padding: 0px;
    margin: 0px;
}

img {
    border: 0px;
}

ul,
li,
ol {
    list-style: none;
}

html,
body {
    padding: 0px;
    margin: 0px;
}

body,
td,
th {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #333;
}

a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #39F;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.clear {
    clear: both;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* 头部 */

.el-header {
    padding-left: 30px;
    background-image: url(../images/index_03.png);
    position: relative;
}

.logo_title {
    float: left;
    width: 400px;
    height: 60px;
    background: url(../images/logo_title.png) no-repeat left center;
}

.logo_sign {
    float: right;
    height: 60px;
}

.user_info {
    text-align: center;
    float: left;
    display: block;
    padding: 4px 20px;
}

.user_info a {
    display: block;
}

.user_title {
    font-size: 12px;
    color: #333;
}

.user_info:hover .user_title {
    color: #39f;
}

.top_button {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.tishi_icon {
    float: left;
    width: 30px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-image: url(../images/bg1.png);
    margin-right: 20px;
}


/* 左侧菜单 */

.main_left {
    overflow: hidden;
    transition: transform .3s;
}

.main_left .el-menu {
    border: 0;
    overflow: auto;
}

.main_left .el-menu-item {
    font-size: 18px;
}

.main_left .el-menu-item [class^=el-icon-] {
    margin-right: 10px;
    font-size: 22px;
}

.main_left .el-submenu [class^=el-icon-] {
    margin-right: 10px;
    font-size: 22px;
}

.main_left .el-submenu__title {
    font-size: 18px;
}

.main_left .el-submenu__icon-arrow {
    font-size: 20px;
}

.main_left .el-submenu .el-menu .el-menu-item {
    white-space: pre-wrap;
    height: auto;
}

.menu_icon {
    float: left;
    font-size: 12px;
    color: #fff;
    background-color: rgb(52, 73, 94);
    text-align: center;
    height: 20px;
    width: 18px;
    line-height: 20px;
    cursor: pointer;
    margin-right: 20px;
}


/* 右边布局 */

.position_box {
    height: 30px;
    background-image: url(../images/wz_bg.png);
}

.position_icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    float: left;
    margin-left: 10px;
    color: red;
}

.position_text {
    float: left;
    margin-left: 10px;
}

.position_text .el-breadcrumb__item {
    line-height: 32px;
}

.g-atl {
    margin: 10px 10px 0;
}