.submenu {
    float: left;
    width: 170px;
    height: 155px;
    cursor: pointer;
    margin-left: 50px;
    text-align: center;
}

.submenu:first-child {
    margin-left: 0;
}

.new_list {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 10px;
}

.statistical_box {
    float: left;
    width: 45%;
}

.statistical_title {
    height: 35px;
    background-color: #e5e5e5;
    text-align: left;
    text-indent: 20px;
    font-weight: bold;
    line-height: 35px;
    font-size: 14px;
}

.statistical {
    height: 260px;
    width: 100%;
}

.news_box {
    float: left;
    margin-left: 2%;
    width: 53%;
    height: 295px;
    overflow: hidden;
}

.news_title {
    height: 60px;
    background-color: #fff;
    text-align: left;
    font-weight: bold;
    line-height: 60px;
    color: #3bbcb2;
    border-bottom: 1px solid #f1f3f3;
    font-size: 14px;
}

.system_news {
    margin: 0 20px;
}

.news_icon {
    width: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    display: inline-block;
    background: url(../images/bg1.png) no-repeat center center;
}

.news_list {
    padding: 10px;
    background-color: #f8f9fa;
    height: 234px;
}

.news_list li {
    height: 35px;
    color: #333;
    font-size: 12px;
    background: url(../images/dzh11.png) no-repeat left center;
    padding-left: 40px;
    cursor: pointer;
    line-height: 35px;
}

.news_list_title {
    float: left;
    width: 390px;
    overflow: hidden;
    height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.news_list_title:hover {
    color: #3bbcb2;
}

.news_time {
    float: left;
}


/* page页面 */

.table-shopping {
    width: 100%;
    border-collapse: collapse;
}

.table-shopping th {
    height: 30px;
    background-color: #3bbcb2;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    border: 1px solid #eee;
}

.table-shopping td {
    height: 40px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    text-align: center;
}

.shopping-btn {
    padding: 0 10px;
    font-size: 18px;
}

.shopping-put {
    width: 100px;
    font-size: 16px;
    padding-left: 8px;
}

.btn-remove {
    text-align: center;
    padding: 2px 14px;
    background-color: #3bbcb2;
    outline: none;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}